body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0; /* Set the background color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 20px;
}

.Header {
  width: 100%;
  padding: 3px 0;
  text-align: center;
  background-color: #d9cfcf;
  color: #141313;
  font-size: 24px;
  font-weight: bold;
  border-radius: 7px;
}

.create-note {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  color: #37bff0;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-size: 23px; /* Increase the font size */
  font-family: Arial, sans-serif; /* Change the font family */
  text-decoration: underline;
}

.note-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.note-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.note-item:hover {
  background-color: #e9e9e9; /* Change background color on hover */
}
.note-item-info h4 {
  display: flex; /* Make this a flex container */
  justify-content: space-between; /* Push items to the ends */
}

.category {
  font-size: 12px;
  margin-left: auto; /* Push the element to the right */
}

.note-item-info p {
  margin: 0;
  padding: 0;
  color: #484848;
  font-size: 14px;
}

.note-item-actions button {
  padding: 10px;

  color: #c02222;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.note-item-actions button:last-child {
  margin-right: 0;
}

.note-item-actions button:hover {
  background-color: #fb9191;
}

.note-item-actions i {
  font-size: 16px;
}
/*--------------------------------*/

.create-note-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure the modal is on top of other elements */
}

.modal {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
}

.modal label {
  display: block;
  margin-bottom: 5px;
}

.modal input[type="text"],
.modal textarea,
.modal select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.modal button[type="submit"] {
  background-color: #37a549;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.modal button[type="submit"]:hover {
  background-color: #96d69c;
}

.close-button {
  margin-left: 10px;
  background-color: #c02222;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/*----------------*/
.footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: #212529;
  padding: 10px 0;
}

/*------------------------*/
.empty-state {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.empty-state button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
